*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 1.6;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
}
.content{
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
}
header{
    height: 100vh;
    background-image: url(./../images/showcase.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header p{
    color: #f4f4f4;
}
header  img{
    height: 180px;
    width: 180px;
    margin: 0 auto;
}
h1{
    font-size: 2.2rem;
    margin-top: 1rem;
    color: white;
    line-height: 1;
}
.section-1{
    text-align: center;
    padding: 50px 0;
}
.section-1 i{
    font-size: 3em;
}
.container{
    margin: 0 auto;
    display: flex;
    max-width: 960px;
}
.container2{
    background: #f4f4f4;
    color: #333;
}
footer{
    background: #333;
    color: #f4f4f4;
    padding: 2.2rem;
}
    
footer p{
    margin: 0;
    text-align: center;
}

